<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>e-commerce</display-name>

    <context-param>
        <param-name>jsp-inheritance-prefix</param-name>
        <param-value>/WEB-INF/views/shared/</param-value>
    </context-param>

    <context-param>
        <param-name>jsp-inheritance-suffix</param-name>
        <param-value>.jsp</param-value>
    </context-param>

</web-app>